#btn_color_1 {
    background-color: #889BAE;
}
#btn_color_2 {
    background-color: #EDC373;
}
#btn_color_3 {
    background-color: #C1ACC5;
}
#btn_color_4 {
    background-color: #75A14F;
}
#btn_color_5 {
    background-color: #D0D3B4;
}