body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    color: white;
    background-color: rgb(20, 20, 20);
}

header{
    width: 100%;
}
    .header_1{
        width: 100%;
        height: 30px;
        background-color: rgb(59, 59, 59);
        display: flex;
        justify-content: end;
    }
        .header_1 ul{
            display: flex;
            padding: 0px;
            margin: 0px;
        }

        .header_1 ul li{
            list-style: none;
            display: flex;
            align-content: center;
            padding: 0px 15px;
        }

        .header_1 ul li a{
            color: rgb(255, 255, 255);
            text-decoration: none;
            display: flex;
            align-items: center;
        }

        .header_1 ul li img{
            height: 20px;
            margin-right: 10px;
        }
        
        .header_1 a:hover{
            color: orangered;
        }
    .header_2{
        width: 100%;
        height: 120px;
        background-color: rgb(0, 0, 0);
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
    }   
        .header_2 a:hover{
            color: orangered;
        }
        .header_logo{
            height: 100%;
        }
            .header_logo img{
                height: 100%;
            }
        .header_category{
            display: flex;
            /* background-color: bisque; */
        }
            .header_category ul{
                display: flex;
            }
            .header_category ul li{
                list-style: none;
                display: flex;
                align-items: end;
            }
            .header_category ul li a{
                text-decoration: none;
                font-size: 30px;
                font-weight: bold;
                color: white;
                padding: 0px 40px;
                border-right: 2px solid rgba(255, 255, 255, 0.451);
            }
            .header_category ul li:last-child a{
                border: none;
            }
            .header_category img{
                height: 120px;
                transform: translateY(22px);
            }
            .header_category ul li a:hover +.header_hover_product_category{
                transform: scaleY(1);
            }
            .header_hover_product_category{
                position: absolute;
                background-color: rgb(53, 53, 53);
                width: 100%;
                height: 550px;
                top: 150px;
                left: 0px;
                transform: scaleY(0);
                transition: 0.5s;
                transform-origin: top;
                z-index: 100;
            }
            .header_hover_product_category:hover{
                transform: scaleY(1);
            }
                .header_hover_product_category{
                    display: flex;
                    justify-content: space-around;
                }
                .category_product_hover .img_category_product{
                    width: 350px;
                    height: 350px;
                    overflow: hidden;
                }
                .category_product_hover h1{
                    text-align: center;
                }
                .category_product_hover .img_category_product img{
                    width: 100%;
                    height: 100%;
                    opacity: 0.5;
                }  
                    .category_product_hover .img_category_product img:hover{
                        opacity: 1;
                    }
                .category_product_hover a{
                    border: none !important;
                }
        .header_hover_product_male{
            display: flex;
            height: 300px;
            padding: 40px 100px;
            box-sizing: border-box;
        }
            .product_male_header{
                /* background-color: aqua; */
                width: 400px;
            }
            .header_hover_product_male .product_male_header:first-child{
                border-right: 4px dashed rgba(255, 255, 255, 0.401);
            }
            .product_male_header ul{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                padding: 0px;
            }
            .product_male_header h1{
                margin: 30px 0px;
            }
            .product_male_header ul li {
                list-style: none;
                padding: 10px 10px;
            }
            .product_male_header ul li a{
                border: none;
                opacity: 0.8;
                font-weight: lighter;
                font-size: 25px;
            }
            .product_male_header ul li a:hover{
                color: orangered;
            }
        .header_searchBox{
            height: 100%;
            display: flex;
            align-items: center;
        }
            .search_box{
                position: relative;
            }
            .search_box img{
                height: 20px;
                position: absolute;
                top: 10px;
                left: 10px;
            }
            .search_box input{
                height: 35px;
                width: 220px;
                padding-left: 40px;
                background: transparent;
                border: 2px solid white;
                color: white;
            }

            .slideshow-container {
                overflow: hidden;
                width: 100%;
                background-color: rgb(37, 37, 37);
              }
              
              .slide {
                width: 100%;
                text-align: center;
                transform: translateX(100%);
                animation-name: slideRight;
                animation-duration: 3s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
              }
              
              .slide p {
                font-size: 17.5px;
                font-family: 'League Spartan', sans-serif;
                text-transform: uppercase;
                padding-top: 5px;
                padding-bottom: 5px;
              }
              
              @keyframes slideRight {
              0% {
                transform: translateX(100%);
              }
              25% {
                transform: translateX(0%);
              }
              75% {
                transform: translateX(0%);
              }
              100% {
                transform: translateX(-100%);
              }
            }
      
main {
    background-color: white;
    color: black;
}
        .main-content {
            margin-left: 170px;
            margin-right: 170px;
        }
        .classify {
            overflow: hidden;
            padding-top: 20px;
            border-bottom: 3px solid black;
        }
        .classify a {
            font-size: 20px;
            display: block;
            float: left;
            padding: 0 20px;
            margin-top: 10px;
            margin-bottom: 10px;
            border-right: solid #CECCCC 2px;
            text-decoration: none;
            color: black;
        }
        .classify a:hover {
            color:#F15E2C;
        }
        
        .classify a:first-child {
            padding-left: 0;
        }
        
        .classify a:last-child {
            border: none;
            font-weight: bold;
        }
        
        .main-infor {
            display: flex;
            margin-top: 30px;
        }
        .image {
            flex-basis: 50%;    
        }
        .image img {
            width: 100%;
        }
        .second-image {
            max-width: 1100px;
            width: 100%;
            position: relative;
        }
        .second-image i {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            transition: 0.5s linear;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }
        .second-image i:first-child {
            left: 0;
        }
        .second-image i:last-child {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
        .second-image i:hover {
            background-color: rgba(0,0,0,0.8);
        }
        .second-image .carousel {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: calc((100% / 4) - 3px);
            gap: 5px;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            scrollbar-width: 0;
        }
        .carousel::-webkit-scrollbar {
            display: none;
        }
        .carousel :where(.card, .img) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .carousel.no-transition {
            scroll-behavior: auto;
        }
        
        .carousel .dragging {
            scroll-snap-type: none;
            scroll-behavior: auto;
        }
        .carousel .dragging .card {
            cursor: grab;
            user-select: none;
        }
        .carousel .card {
            scroll-snap-align: start;
            list-style: none;
            height: 140px;
            background: #fff;
            cursor: pointer;
            border-radius: 15px;
        }
        
        .card img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        @media screen and (max-width:900px) {
            .second-image .carousel {
                grid-auto-columns: 100%;
            }
        }
        .infor {
            flex-basis: 40%;
            margin-left: 60px;
            line-height: 1.5;
        }
        .infor h1 {
            text-align: left;
            font-size: 27px;
        }
       
        .infor span {
            font-weight: bold;
            font-size: 20px;
        }
        .infor h3{
            text-align: left;
            color: #F15E2C;
            font-size: 30px;
            border-top: 2px dashed gray;
            border-bottom: 2px dashed gray;
            padding: 30px 0;
        }
        .infor h3 span {
            font-size: 20px;
            color: gray;
            text-decoration: line-through;
            margin-left: 30px;
        }
        .describe p {
            text-align: justify ;
            font-size: 16px;
        }
        .describe {
            border-bottom: 2px dashed gray;
        }
        
        .color {
            padding: 30px 5px;
            border-bottom: 2px dashed gray;
            display: flex;
            justify-content: start;
        }
        
        .color button {
            height: 50px;
            width: 50px;
            margin-right: 20px;
            cursor: pointer;
            border: solid 1px black;
            border-radius: 8px;
        }
        
        .size_quantity {
            display: flex;
            margin-top: 20px;
            justify-content: space-between;
        }
        
        .size_quantity div {
            flex-basis: 50%;
            text-align: left;
            font-size: 20px;
            font-weight: bold;
        }
        
        .size-control select {
            font-size: 15px;
            height: 37px;
            width: 215px;
        }
        
        .quantity {
            width: 100px;
            height: 30px;
        }
        
        .add-cart_heart {
            margin-top: 20px;
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        
        .add-cart_heart button:first-child {
            height: 75px;
            width: 370px;
            background-color: black;
            color: white;
            font-size: 25px;
            cursor: pointer;
        }
        
        .add-cart_heart button:last-child {
            height: 75px;
            width: 75px;
            background-color: black;
            color:#F15E2C;
            font-size:40px;
        }
        
        #pay-button {
            width: 100%;
            height: 75px;
            background-color: #F15E2C;
            color: white;
            font-size: 25px;
            margin-top: 20px;
            border: solid 1px #F15E2C;
        }
        
        .dropbtn {
            margin-top: 30px;
            padding-bottom: 30px;
            border: none;
            background-color: white;
            color: black;
            font-size: 25px;
            font-weight: bold;
            border-bottom: dashed gray 2px;
            width: 100%;
            text-align: left;
            cursor: pointer;
        }
        
        .dropdown-content {
            padding: 15px 0;
            text-align: left;
            border-bottom: dashed gray 2px;
            margin-bottom: 30px;
            display: none;
            transition: block 2s ease;
            font-size: 20px;
        }
        .dropbtn:hover, .dropbtn:focus {
            color: #F15E2C;
        }
        .show1, .show2, .show3 {
            display: block;
        }
         #myDropdown1 img  {
            width: 470px;
            height: auto;
         }
        .relative-infor {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 40px 0;
            border-bottom: 2px dashed gray;
            border-top: 2px dashed gray;
        }
        .relative-infor h3{
            font-size: 30px;
            margin-bottom: 20px;
        }
        .wrapper {
            max-width: 1100px;
            width: 100%;
            position: relative;
            margin:0 auto;
        }
        .wrapper i {
            cursor: pointer;
            position: absolute;
            top: 35%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: gray;
            font-weight: bold;
            font-size: 40px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }
        .wrapper i:first-child {
            left: -60px;
        }
        .wrapper i:last-child {
            right: -60px;
            border-radius: 3px 0 0 3px;
        }
        .wrapper i:hover {
            color: black;
        }
        .wrapper .carousel_2 {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: calc((100% / 4) - 12px);
            gap: 16px;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            scrollbar-width: 0;
        }
        .carousel_2::-webkit-scrollbar {
            display: none;
        }
        .carousel_2 :where(.card_2, .img) {
        
            align-items: center;
            justify-content: center;
        }
        .carousel_2.no-transition {
            scroll-behavior: auto;
        }
        
        .carousel_2 .dragging {
            scroll-snap-type: none;
            scroll-behavior: auto;
        }
        .carousel_2 .dragging .card_2 {
            cursor: grab;
            user-select: none;
        }
        .carousel_2 .card_2 {
            scroll-snap-align: start;
            list-style: none;
            height: 370px;
            cursor: pointer;
            border-radius: 15px;
            font-weight: bold;
        }
        .carousel_2 .card_2 a {
            color: black;
        }
        .carousel_2 .card_2 a:hover {
            color:#F15E2C;
        }
        .carousel_2 .card_2 .color_name {
            font-weight: 100;
            padding: 10px 0;
        }
        .card_2 img {
            width: 100%;
            height: 260px;
            object-fit: cover;
            margin-bottom: 10px;
        }
        @media screen and (max-width:900px) {
            .wrapper .carousel_2 {
                grid-auto-columns: 100%;
            }
            
        }
.contract_static{
    position: fixed;
    width: 40px;
    height: 120px;
    background-color: rgb(32, 32, 32);
    top: 50%;
    right: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
    .contract_static a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contract_static img{
        width: 80%;
        z-index: 100;
    }
.cart_static{
    position: fixed;
    top: 35%;
    right: 0px;
    background-color: orangered;
    width: 40px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}
    .cart_static p{
        margin: 0px;
        font-size: 20px;
        margin-top: 5px;
    }
    .cart_static img{
        width: 100%;
    }


footer{
    /* background-color: aquamarine; */
    height: fit-content;
    width: 100%;
    background-color: rgb(71, 71, 71);
    margin-top: 100px;
}

    .footer_1{
        /* background-color: rgb(71, 71, 71); */
        width: 100%;
        display: flex;
        box-sizing: border-box;
    }
        .location_shop{
            /* background-color: aqua; */
            width: 20%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
            .location_shop img{
                width: 100%;
            }
            .location_shop button{
                background-color: orangered;
                color: white;
                width: 250px;
                height: 40px;
                font-size: 25px;
                font-weight: bold;
            }

        .footer_content{
            /* background-color: aquamarine; */
            width: 80%;
            box-sizing: border-box;
        }
            .footer_content img{
                width: 40px;
            }
            .footer_content_1{
                display: flex;
                /* background-color: bisque; */
                justify-content: space-between;
                margin-top: 65px;
                box-sizing: border-box;
            }
                .footer_content_item{
                    margin-right: 20px;
                }
                .footer_content_item li{
                    font-size: 25px;
                }
                .footer_content_item ul{
                    padding: 0px;
                }
                .footer_content_item ul li{
                    list-style: none;
                    padding: 5px 0px;
                }
                .footer_content_item ul li a{
                    text-decoration: none;
                    color: white;
                    font-size: 25px;
                }
                .footer_content_item ul li a:hover{
                    color: orangered;
                }
            .footer_content_2{
                display: flex;
                justify-content: space-between;
                /* background-color: brown; */
            }
                .footer_content_item_Social .link_social img{
                    width: 50px;
                    margin-right: 20px;
                }
                .footer_content_item_email_input input{
                    background-color: black;
                    border: 2px solid white;
                    color: white;
                    width: 250px;
                    height: 40px;
                    box-sizing: border-box;
                    padding: 0px 20px;
                }
                .footer_content_item_email_input button{
                    width: 60px;
                    height: 40px;
                    border: 2px solid rgb(254, 97, 0);
                    background-color: rgb(255, 89, 0);
                }
                .footer_content_item_email_input img{
                    height: 100%;
                }
                    .email_input{
                        display: flex;
                        align-items: center;
                    }
                .footer_content_logo_text img{
                    width: 250px;
                    margin-right: 150px;
                }
    .footer_2{
        /* background-color: antiquewhite; */
        display: flex;
        justify-content: space-around;
        overflow: hidden;
        align-items: center;
        height: 200px;
    }
        .footer_2 img{
            height: 300px;
        }
        .footer_2 p{
            font-size: 30px;
        }
