* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

html {
    height: 100%;
  }

  a {
    text-decoration: none;
  }

  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#ff6200, #ff4000);
  }
  
  .top-nav img {
    height: 70px;
    position: absolute;
    top:0;
    left:0;
  }

  #video-background {
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

  .login-box {
    position: absolute;
    top: 55%;
    left: 80%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(249, 244, 244, 0.905);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #070707;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #070707;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #070707;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #070707;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label
   {
    top: -20px;
    left: 0;
    color: #070707;
    font-size: 12px;
  }
  
  #login_button {
    padding: 8px 30px;
    margin-right: 40px;
    color: black;
  }

  .line {
    height: 1px;
    width: 100%;
    background-color: gray;
    text-align: center;
  }

  .or {
    padding-bottom: 14px;
    display: flex;
    margin-top: 15px;
  }

  .or .text {
    padding: 0 16px;
    text-transform: uppercase;
  }
  

  .other-way img {
    float: left;
    height: 20px;
    width: 20px;
    margin-right: 15px;
  }

  .other-way {
    display: flex;
    justify-content: space-between;
  }

  .other-way a {
    display: block;
    padding: 10px;
    border: 1px solid gray;
    color: black;
    width: 130px;
  }

  .other-way a:hover {
    border: 1px solid #ff6200;
    color:#ff6200;
  }

  .sign-up {
    color: gray;
    margin-top: 20px;
    font-size: 15px;
  }

  .sign-up a {
    color:#ff6200;
    font-size: 20px;
  }

  .sign-up a:hover {
    text-shadow: 5px 5px 5px #ff6200;
  }

  form a {
    color: gray;
  }

  form a:hover {
    color:#ff6200;
  }

.error {
  color: red;
}

.top-nav img {
    height: 100%;
}