.color button{
    width: 90%;
    height: 90%;
}
    .color_1 button{
        background-color: rgb(220, 153, 153);
    }
    .color_2 button{
        background-color: white;
    }

    .color_3 button{
        background-color: rgb(0, 0, 0);
    }