.color button{
    width: 90%;
    height: 90%;
}
    .color_1 button{
        background-color: #00ac78;
    }
    .color_2 button{
        background-color: #f3cf55;
    }
    .color_3 button{
        background-color: #EFEEE5;
    }