body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
    background-image: url("../Picture/backGoundLSignUpOne.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
}

.logo{
    margin-left: 10px;
    margin-top: -16px;
    margin-bottom: -16px;
    width: 100px;
}
.mainDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 570px;
    background-color: rgb(21, 21, 21);
    border-radius: 20px;
    opacity: 85%;
}
.buttonLogin{
    margin-left: 100px;
    padding: 15px 5px;
    width: 70px;
    background-color: black;
    border-radius: 30px;
    border: 2px solid white;
}
h1{
    text-align: center;
}

.inputTextBox{
    width: 95%;
    color: white;
    background-color: black;
    border: 3px white solid;
    height: 35px;
    border-radius: 10px;
    padding-left: 20px;
}

.error {
    color: #FF0000;
}