body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

a.linkHeader{
    text-decoration: none;
}

ul.ulTextHeader{
    padding: 0;
    margin: auto;
    display: flex;
    align-items: center;
}
ul.ulTextHeader :hover{
    padding: 10px;
    border-radius: 20px;
    color: black;
    background-color: aliceblue;
    margin-top: 10px;
}
li.liForTextHeader{
    margin: 25px 20px;
}

.forTextHeader{
    color: white;
    font-weight: 600;

}
.forTextButton{
    font-family: 'Montserrat', sans-serif;
}

.headerSquare{
    display: flex;
    position: fixed;
    z-index: 20;
    top: 0;
    justify-content: flex-end;
    background-color: black;
    width: 100%;
    height: 70px;
    border-bottom: 4px solid rgb(66, 66, 66);
}

.logo{
    margin-left: 10px;
    margin-top: -16px;
    margin-bottom: -16px;
    width: 100px;
}

.buttonLogin{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    font-weight: bold;
}

#login{
    text-decoration: none;
    color: black;
}
#login :visited{
    color: black;
}
#login :focus{
    outline: none;
}

.mainDiv{
    height: 2000px;
}

.findDivNew{
    position: fixed;
    top: 80px;
    left: 0;
    height:50px;
}

.headerSquare .findDivNew .findNewInputClass{
    margin: 10px 0px 0px 20px;
    height: 30px;
    width: 20vw;
    opacity: 0.5;
    border-radius: 20px;
    padding-left: 30px;
}

.headerSquare .findDivNew .findNewInputClass::placeholder{
    font-family: 'Montserrat', sans-serif;
}

.mainDiv{
    width: 80%;
    height: 1000px;
    margin: 0px auto;
}
.mainDiv .contentDiv h1{
    color: white;
    font-size: 80px;
    margin-top: 200px;
    margin-bottom: 0;
}

.mainDiv .contentDiv .contentFirstNew{
    margin-left: 5%;
    width: 90%;
    color: white;
}

.mainDiv .contentDiv .contentFirstNew img{
    margin-top: 0;
}

.mainDiv .contentDiv .contentFirstNew table{
    margin-top: 20px;
}

.mainDiv .orderContent{
    width: 100%;
    height: 1000px;
    /* background-color: aqua; */
    padding-left: 5%;
    box-sizing: border-box;
    border-right: 2px solid white;
}

.mainDiv .orderContent h1{
    color: white;
    font-size: 80px;
    margin-top: 100px;
    margin-bottom: 30px;
}

.mainDiv .orderContent .contentSelection{
    /* background-color: blueviolet; */
    margin-bottom: 60px;
    width: 100%;
    height: 250px;
}
.mainDiv .orderContent .contentSelection img{
    float: left;
}

.mainDiv .orderContent .contentSelection .contentSelectionChill{
    float: left;
    width: 50%;
    margin-left: 5%;
    /* background-color: aqua; */
    color: white;
    height: 100%;
    border-bottom: 2px solid white;
}

.mainDiv .orderContent .contentSelection .contentSelectionChill a{
    float:right;
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    opacity: 70%;
    padding: 20px;
}



