body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    color: white;
    background-color: rgb(20, 20, 20);
}

header{
    width: 100%;
}
    .header_1{
        width: 100%;
        height: 30px;
        background-color: rgb(59, 59, 59);
        display: flex;
        justify-content: end;
    }
        .header_1 ul{
            display: flex;
            padding: 0px;
            margin: 0px;
        }

        .header_1 ul li{
            list-style: none;
            display: flex;
            align-content: center;
            padding: 0px 15px;
        }

        .header_1 ul li a{
            color: rgb(255, 255, 255);
            text-decoration: none;
            display: flex;
            align-items: center;
        }

        .header_1 ul li img{
            height: 20px;
            margin-right: 10px;
        }
        
        .header_1 a:hover{
            color: orangered;
        }
    .header_2{
        width: 100%;
        height: 120px;
        background-color: rgb(0, 0, 0);
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
    }   
        .header_2 a:hover{
            color: orangered;
        }
        .header_logo{
            height: 100%;
        }
            .header_logo img{
                height: 100%;
            }
        .header_category{
            display: flex;
            /* background-color: bisque; */
        }
            .header_category ul{
                display: flex;
            }
            .header_category ul li{
                list-style: none;
                display: flex;
                align-items: end;
            }
            .header_category ul li a{
                text-decoration: none;
                font-size: 30px;
                font-weight: bold;
                color: white;
                padding: 0px 40px;
                border-right: 2px solid rgba(255, 255, 255, 0.451);
            }
            .header_category ul li:last-child a{
                border: none;
            }
            .header_category img{
                height: 120px;
                transform: translateY(22px);
            }
            .header_category ul li a:hover +.header_hover_product_category{
                transform: scaleY(1);
            }
            .header_hover_product_category{
                position: absolute;
                background-color: rgb(53, 53, 53);
                width: 100%;
                height: 550px;
                top: 150px;
                left: 0px;
                transform: scaleY(0);
                transition: 0.5s;
                transform-origin: top;
                z-index: 100;
            }
            .header_hover_product_category:hover{
                transform: scaleY(1);
            }
                .header_hover_product_category{
                    display: flex;
                    justify-content: space-around;
                }
                .category_product_hover .img_category_product{
                    width: 350px;
                    height: 350px;
                    overflow: hidden;
                }
                .category_product_hover h1{
                    text-align: center;
                }
                .category_product_hover .img_category_product img{
                    width: 100%;
                    height: 100%;
                    opacity: 0.5;
                }  
                    .category_product_hover .img_category_product img:hover{
                        opacity: 1;
                    }
                .category_product_hover a{
                    border: none !important;
                }
        .header_hover_product_male{
            display: flex;
            height: 300px;
            padding: 40px 100px;
            box-sizing: border-box;
        }
            .product_male_header{
                /* background-color: aqua; */
                width: 400px;
            }
            .header_hover_product_male .product_male_header:first-child{
                border-right: 4px dashed rgba(255, 255, 255, 0.401);
            }
            .product_male_header ul{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                padding: 0px;
            }
            .product_male_header h1{
                margin: 30px 0px;
            }
            .product_male_header ul li {
                list-style: none;
                padding: 10px 10px;
            }
            .product_male_header ul li a{
                border: none;
                opacity: 0.8;
                font-weight: lighter;
                font-size: 25px;
            }
            .product_male_header ul li a:hover{
                color: orangered;
            }
        .header_searchBox{
            height: 100%;
            display: flex;
            align-items: center;
        }
            .search_box{
                position: relative;
            }
            .search_box img{
                height: 20px;
                position: absolute;
                top: 10px;
                left: 10px;
            }
            .search_box input{
                height: 35px;
                width: 220px;
                padding-left: 40px;
                background: transparent;
                border: 2px solid white;
                color: white;
            }

    .header_3{
        width: 100%;
        height: 50px;
        background-color: rgb(37, 37, 37);
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .header_3 p{
            margin: 0px;
            padding: 0px;
            opacity: 0.5;
            font-size: 15px;
            letter-spacing: 10px;
            text-transform: uppercase;
        }
    
main{
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
}
    .content{
        width: 100%;
        /* background-color: rgb(7, 132, 241); */
    }
        .content_1{
            width: 90%;
            display: flex;
        }
            .content_left{
                width: 50%;
                box-sizing: border-box;
            }
                .content_left_img_main{
                    width: 100%;
                    overflow: hidden;
                }
                .content_left_img_main img{
                    width: 100%;
                }
                .content_left_img_main_second{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    margin-top: 20px;
                    overflow: hidden;
                    /* background-color: aqua; */
                    flex-wrap: wrap;
                }
                    .content_left_img_cover{
                        width: 24%;
                        margin-bottom: 10px;
                    }
                    .content_left_img_cover img{
                        width: 100%;
                    }
            .content_right{
                width: 50%;
                box-sizing: border-box;
                /* background-color: red; */
                padding: 0px 10%;
            }
                .content_right_select{
                    padding-bottom: 50px;
                    border-bottom: 2px dashed white;
                }
                .content_right_select h1{
                    font-size: 40px;
                }
                .content_right_select p{
                    font-size: 20px;
                    opacity: 0.8;
                }
                .content_right_select li{
                    font-size: 25px;
                    opacity: 0.8;
                    padding: 10px 0px;
                    line-height: 25px;
                    font-weight: lighter;
                }
                    .content_color {
                        display: flex;
                        padding-top: 20px;
                    }
                    .color{
                        width: 60px;
                        height: 60px;
                        background-color: rgba(0, 255, 255, 0);
                        margin-right: 20px;
                        border: 5px solid white;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .color button{
                        width: 90%;
                        height: 90%;
                    }
                        .color_1 button{
                            background-color: black;
                        }
                        .color_2 button{
                            background-color: white;
                        }
                        .color_3 button{
                            background-color: green;
                        }
                .content_inf_main p:last-child{
                    font-size: 35px;
                    color: orangered;
                    opacity: 1;
                    font-weight: bold;
                    margin: 0px;
                }
                    .select_sizeAndDiamondsuit{
                        display: flex;
                        justify-content: space-between;
                    }
                        .size, .amount{
                            width: 45%;
                        }
                    .select_sizeAndDiamondsuit select{
                        width: 100%;
                        height: 50px;
                        background-color: transparent;
                        border: 2px solid white;
                        color: white;
                        padding: 0px 30px;
                        font-size: 20px;
                    }
                    .select_sizeAndDiamondsuit select option{
                        background-color: rgb(54, 54, 54);
                        font-size: 20px;
                    }
                    .addCartAndHeart{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        height: 80px;
                        margin-top: 30px;
                    }
                        .addCartAndHeart button:first-child{
                            width: 70%;
                            font-size: 30px;
                            color: white;
                            background-color: black;
                            font-weight: bold;
                        }
                        .addCartAndHeart button:last-child{
                            width: 20%;
                            background-color: black;
                        }
                        .addCartAndHeart button:last-child img{
                            width: 50%;
                        }
                    .pay{
                        width: 100%;
                        background-color: orangered;
                        margin-top: 30px;
                        height: 80px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                        .pay a{
                            color: white;
                            text-decoration: none;
                            font-size: 40px;
                        }
        .content_2{
            /* background-color: antiquewhite; */
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 50px 0px;
        }
            .content_2 h1{
                width: 100%;
                text-align: center;
                font-size: 40px;
            }
            .product_recomment{
                /* background-color: aqua; */
                width: 90%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                border-bottom: 2px dashed white;
            }
                .product_recomment_item{
                    width: 24%;
                    padding-bottom: 50px;
                }
                .product_recomment_item p{
                    text-align: center;
                    font-size: 20px;
                }
                .product_recomment_item p:last-child{
                    font-size: 30px;
                    color: orangered;
                }
                    .product_recomment_item_cover{
                        width: 100%;
                        height: 70%;
                        overflow: hidden;
                    }
                    .product_recomment_item_cover img{
                        width: 100%;
                        transition: 0.5s linear;
                    }
                        .product_recomment_item_cover img:hover{
                            transform: scale(1.3);
                        }
                    .product_recomment_item a{
                        text-decoration: none;
                        color: white;
                    }
                    .product_recomment_item a:hover{
                        color: orangered;
                    }
                        .product_recomment_item_title h1{
                            font-size: 25px;
                        }
.contract_static{
    position: fixed;
    width: 40px;
    height: 120px;
    background-color: rgb(32, 32, 32);
    top: 50%;
    right: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
    .contract_static a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contract_static img{
        width: 80%;
        z-index: 100;
    }
.cart_static{
    position: fixed;
    top: 35%;
    right: 0px;
    background-color: orangered;
    width: 40px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}
    .cart_static p{
        margin: 0px;
        font-size: 20px;
        margin-top: 5px;
    }
    .cart_static img{
        width: 100%;
    }


footer{
    /* background-color: aquamarine; */
    height: fit-content;
    width: 100%;
    background-color: rgb(71, 71, 71);
    margin-top: 100px;
}

    .footer_1{
        /* background-color: rgb(71, 71, 71); */
        width: 100%;
        display: flex;
        box-sizing: border-box;
    }
        .location_shop{
            /* background-color: aqua; */
            width: 20%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
            .location_shop img{
                width: 100%;
            }
            .location_shop button{
                background-color: orangered;
                color: white;
                width: 250px;
                height: 40px;
                font-size: 25px;
                font-weight: bold;
            }

        .footer_content{
            /* background-color: aquamarine; */
            width: 80%;
            box-sizing: border-box;
        }
            .footer_content img{
                width: 40px;
            }
            .footer_content_1{
                display: flex;
                /* background-color: bisque; */
                justify-content: space-between;
                margin-top: 65px;
                box-sizing: border-box;
            }
                .footer_content_item{
                    margin-right: 20px;
                }
                .footer_content_item li{
                    font-size: 25px;
                }
                .footer_content_item ul{
                    padding: 0px;
                }
                .footer_content_item ul li{
                    list-style: none;
                    padding: 5px 0px;
                }
                .footer_content_item ul li a{
                    text-decoration: none;
                    color: white;
                    font-size: 25px;
                }
                .footer_content_item ul li a:hover{
                    color: orangered;
                }
            .footer_content_2{
                display: flex;
                justify-content: space-between;
                /* background-color: brown; */
            }
                .footer_content_item_Social .link_social img{
                    width: 50px;
                    margin-right: 20px;
                }
                .footer_content_item_email_input input{
                    background-color: black;
                    border: 2px solid white;
                    color: white;
                    width: 250px;
                    height: 40px;
                    box-sizing: border-box;
                    padding: 0px 20px;
                }
                .footer_content_item_email_input button{
                    width: 60px;
                    height: 40px;
                    border: 2px solid rgb(254, 97, 0);
                    background-color: rgb(255, 89, 0);
                }
                .footer_content_item_email_input img{
                    height: 100%;
                }
                    .email_input{
                        display: flex;
                        align-items: center;
                    }
                .footer_content_logo_text img{
                    width: 250px;
                    margin-right: 150px;
                }
    .footer_2{
        /* background-color: antiquewhite; */
        display: flex;
        justify-content: space-around;
        overflow: hidden;
        align-items: center;
        height: 200px;
    }
        .footer_2 img{
            height: 300px;
        }
        .footer_2 p{
            font-size: 30px;
        }
